<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="nodeBuilder" class="ru.aaromanov1985.telegrambots.simplebot.node.NodeBuilderImpl">
        <property name="path" value="resources/Nodes.xml"/>
    </bean>

    <bean id="nodeHandler" class="ru.aaromanov1985.telegrambots.simplebot.node.NodeHandlerImpl">
        <property name="nodeBuilder" ref="nodeBuilder"/>
    </bean>

    <bean id="bot" class="ru.aaromanov1985.telegrambots.simplebot.Bot"/>
</beans>